{% extends "_layout.twig" %}

{% block content %}
{{description}}
<div>

   <ul class="nav nav-pills">
   <li class="nav-item">

  <a class="me-3" href="/gouse-object/{{idd}}/image">Изображение</a>
  <a  href="/gouse-object/{{idd}}/info">Описание</a>
    {# {% for i in section %}
      <li class="nav-item">
          
          <a href="/{{url_prefix}}{{i.url}}" class="{{ i.url == section1 ? 'active' }} nav-link" >{{i.title}}</a>
      </li>
    {% endfor %}    #}
   </li>
    </ul> 


  </div>
{% block objectContent %}
{% endblock %}

{% endblock %}